p,
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#sous_box {
    position: fixed;
    bottom: -214px;
}

#sous_box2 {
    position: fixed;
    top: -214px;
    transform: rotate(180deg);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#res {
    font-size: 64px;
    color: white;
    position: fixed;
    top: 33%;
    padding: 50px;
    background-color: transparent;
}


#Pokepierre {
    width: 236px;
    height: 428px;
}

#GwenScissors {
    width: 236px;
    height: 428px;

}

#Paper {
    width: 236px;
    height: 428px;

}

button {
    font-size: 100%;
    border-style: none;
    background-color: transparent;
    box-shadow: 10px 5px 5px black;
    padding: 0%;
    margin: 7px;
}

html{
    margin: 0;
    padding: 0;
    background-image: url("../images/table.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

body{
    margin: 0;
    padding: 0;
}


#joueur{
    color: white;
    font-size: 32px;
    background-color:#303030;
    padding: 50px;
    margin: 0px;
    bottom: 0px;

}


#bot{
    color: white;
    font-size: 32px;
    background-color:#303030;
    padding: 50px;
    margin: 0px;
    top: 0px;
}

footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0
}